
<div class="navbar">
    <ul class="nav nav-tabs">
        <% @param_data["day_cont"].each do | val | %>
        <li><%= link_to val, render_link("day_cont", val, {}) %></li>
        <% end %>
    </ul>
  </div>

<%= @meeting_params.inspect %>    

<div class="navbar">
  <div class="city-small">
    <ul class="nav">
     <% @param_data["city_cont"].each do | val | %>
     <li><%= link_to val, render_link("city_cont", val, {}) %></li>
    <% end %>
    </ul>
  </div>

<div class="navbar">
  <div class="city-small nav-tabs">
    <ul class="nav">
     <% @param_data["codes_cont"].each do | val | %>
        <li><%= link_to val, render_link("codes_cont", val, {}) %></li>
     <% end %>
    
    </ul>
  </div>
</div>
</div>
