<% provide(:title, 'Colophon') %>
  <div id="landpage-container">
    <%= link_to image_tag("ico_logo.png", alt: "logo", title: "logo") %>
      <div class="landpage-content">
      <h2>24-HOUR HELP LINE: 24/7  </h2>
      <h3>(408) 374 - 8511 </h3>
      
   </div>
 </div>

   <div id="twocols">
    <div class="span3"></div>
    <div class="span4">
      <div class="meetings">
      <h3>Colophon</h3>        
         <p></p>
            

  
      </div></div>
    <div class="span4">
      <div class="centraloffice">
      <h3>Technical Specs</h3>
       The <%= link_to 'meetings', meetings_path %> section of this site has been authored in Ruby on Rails.  It makes use of Apache with a <%= link_to 'Passenger', 'http://www.modrails.com/documentation.html' %> module.  The database is written in Postgres.
      </div>
    </div>
</div>
</div>




