

<div id="twocols">
<div class="span3">
<div class="paragraph"> 

<h1>Meeting Codes</h1>

O = Open, <br /> C = Closed, <br />B = Book Study, <br /> M = Men's Meeting, <br /> W = Women's Meeting,<br /> X = Wheelchair Accessible, <br />G = Gay, <br />L = Lesbian, <br />T = Transgender, <br />  YP = Young People, <br /> E = en Español, <br /> Spk = Speaker <br />
</div></div>


<div class="span7">
<div class="paragraph">

<h2>The Difference Between Open and Closed A.A. Meetings</h2>

<p>The purpose of all A.A. group meetings, as the Preamble states, is for A.A. members to "share their experience, strength and hope with each other that they may solve their common problem and help others to recover from alcoholism." Toward this end, A.A. groups have both open and closed meetings.</p>

<p>Closed meetings are for A.A. members only, or for those who have a drinking problem and "have a desire to stop drinking."</p>

<p>Open meetings are available to anyone interested in Alcoholics Anonymous’ program of recovery from alcoholism. Non-alcoholics may attend open meetings as observers.</p>

<p>Reprinted from The A.A. Group... <em>Where It All Begins</em>em>, p. 13, with permission of A.A. World Services, Inc.</p>
</div></div>
</div>