textarea:focus, 
  input[type="text"]:focus, input[type="url"]:focus, input[type="search"]{   
    border-color: rgba(133, 137, 80, 0.8);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(133, 137, 60, 0.99);
    outline: 0 none;
  }

.refine {
  font-family: 'Open Sans', sans-serif;
  size: 11px;
  padding: 3px;
}

.password_field {
    border-color: rgba(133, 137, 80, 0.8);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(133, 137, 60, 0.99);
    outline: 0 none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url(background.png);
  height: 100%;
  padding-top: 55px;
}


#storylinks-container {
   opacity: 0.97337;
   border-radius: 10px;
   width: auto;
   min-height: 81%;
   margin-left: 2%;
   margin-right: 2%;
   padding: 5px;
   border-top: 4px solid #c47018;
   border-left: 4px solid #c47018;
   border-bottom: 4px solid #c47018;
   border-right: 4px solid #c47018;
   background: #fff;
	 -webkit-border-radius: 7px;
	 -moz-border-radius: 7px;
   border-radius: 7px;
}

#storylinks {
  opacity: 0.9723;
  width: auto;
  margin-right: 2%;
  height: auto;
  padding-top: 57px;
  min-height: 75%;
  padding: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.outer {
	width: auto;
	align: center;
  font-family: 'Open Sans', sans-serif;
	font-size:111%;
	font-weight: 400;
	text-align: left;
  margin-left: 1%;
  min-width: 10%;
  max-width: 98%;
  p {
        color: #2e1813;
        padding: 3px;
        margin-left: 7px;
        margin: 5px;
        font-size: 117%;
        text-wrap: wrap;}
        a:link, a:active, a:visited {
        color: #aa7737;
        background: transparent;
        }
        a:hover {
        color: #114577;
        text-decoration: none;
        }
        p img_right {
        float: right;
        margin-right: 20px;
 }
        p img_left {
        float: left;
        margin-left: 20px;
  }
  .numeric {
  padding: 5px;
  }
}

/* h-styling */

h1 {
  font-size: 173%;
  padding: 13px;
  letter-spacing: -2px;
  text-align: left;
  color: #583020;
}

h2 {
 
  font-size: 1.33em;
  padding: 3px;
  margin-top: 10px;
  text-align: left;
  font-weight: normal;
  color: #583020;
}

h3 {
  font-size: 1.23em;
  letter-spacing: -1px;
  padding: 2px;
  margin: 2px;
  margin-bottom: 5px;
  color: #583020;
}

.row {
  width: auto;
  margin-left: 2%;
  margin-right: 1%;
  min-width: 10%;
  max-width: 93%;
}

.navbar {
  border: none;
}

.city-small {
  font-size: 77%;
  padding: -3px;
}

.adminin {
  font-size: 11pt;
  float: right;
  font: monospace;
  font-weight: bold;
}


.btn-custom { background-color: hsl(58, 31%, 39%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#afad68", endColorstr="#828044"); background-image: -khtml-gradient(linear, left top, left bottom, from(#afad68), to(#828044)); background-image: -moz-linear-gradient(top, #afad68, #828044); background-image: -ms-linear-gradient(top, #afad68, #828044); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #afad68), color-stop(100%, #828044)); background-image: -webkit-linear-gradient(top, #afad68, #828044); background-image: -o-linear-gradient(top, #afad68, #828044); background-image: linear-gradient(#afad68, #828044); border-color: #828044 #828044 hsl(58, 31%, 35%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26); -webkit-font-smoothing: antialiased; }


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid #e0e0e0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }


/* users */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #888;
    &:last-child {
      border-bottom: 1px solid #888;
    }
  }
}

}

.search-instructions {
  font-family: Droid Sans, sans-serif;
  font-size: 15px;
  padding: 3px;
}


/**/

@media handheld {
  #content {
    images: none;
    width:100%;
    margin: 1px;
    }
  #storylinks {
    width:100%;
    float:center;
    }
  #landpage-container{
  width: 100%;
  margin: 1px;
  float: center;
  background-color: #959595;
  }
  #footer {
    width:100%;
    float:none;
    }
  }


.copyright {
    font-family: monospace;
    font-size: 91%;
    color: #000;
    margin-right: 5%;
    float: right;
}

#colophon {
    font-family: monospace;
    font-size: 73%;
    color: #f2e1cf;
    margin-right: 1%;
    float: right; 
      a:link {
        color: #f2e1cf;
      a:active {
        color: #f2e1cf;
      a:hover {
        color: #dfd2c2;
      a:visited {
        color: #dfd2c2;
          }
        }
      }
   }
}





