
#landpage-container {
  	background-image: url(background_gradient.png);
    background-repeat:  repeat-x;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
   .span4 {
    width: 30%;
    margin-left: 2px;

  }
}

.landpage-content {
  padding: 10px;
  float: right;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
/* 24 Hour Help Line Available */
  h2 {
  font-family: 'Droid Sans', sans-serif;
  color: #114577;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 25px;
  margin-right: 25px;
  }

/* Phone Number Styling */ 

  h3 {
  font-family: 'Droid Sans', sans-serif;
  color: #000;
  font-size: 115%;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: -13px;
  margin-right: 25px;
  }

}

#twocols {
background: #fff; /* Old browsers */
width: auto;
height: auto;
min-height: 370px;
  .btn-custom { 
    border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: 'Open Sans', sans;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e; 
    a:hover {
    color: #4B3D2B;
    }
    a:link {
    color: #4B3D2B;
    }
  }


h3 {
  font-family: 'Open Sans', sans;
  color: #050301;
  font-size: 137%;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  margin-left: -2px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; } 

  }

   .welcome {
    color: #171614;
    font-size: 91%;
    padding:  3px;
  }

  .meetings {
    color: #171614;
    padding:  3px;
    font-size: 91%;

  }
  .centraloffice {
    color: #171614;
    padding:  3px;
    margin-left: -3px;
    a:link {
      color: #c48923; }
    a:active {
      color: #c48923;
    }
    a:hover {
    color: #114577; }
}
.img-left {
  padding: 3px;
  float: left;
  margin-right: 7px;
}
.latest {
  font-size: 80%;
  font-family: 'Open Sans', sans-serif;
}



