#landpage-container {
  	background-image: url(background_gradient.png);
    background-repeat:  repeat-x;
}

.landpage-content {
  padding: 10px;
  float: right;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  line-height: 1;
  h2 {
  font-family: 'Droid Sans', sans-serif;
  color: #114577;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 35px;
  margin-right: 25px;
  }
  h3 {
  font-family: 'Droid Sans', sans-serif;
  color: #000;
  font-size: 115%;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 15px;
  margin-right: 25px;
  }

}

#twocols {
  a:link {  
  color: #fff;
  text-decoration: underline;
  }
  a:active {
  color: #fff;
  }
  a:hover {
  color: #224D66;
  }
  a:visited {
  color: #fff;
  }


background: #c47018; /* Old browsers */
background: -moz-linear-gradient(top, #c47018 0%, #ed9017 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c47018), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #c47018 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #c47018 0%,#ed9017 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #c47018 0%,#ed9017 100%); /* IE10+ */
background: linear-gradient(to bottom, #c47018 0%,#ed9017 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c47018', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
width: auto;
height: 243px;
h3 {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  margin-left: -2px;}
  .meetings {
    max-width: 333px;
    font-family: 'Open Sans', sans;
  	color: #fcfcfc;
  	font-size: 91%;
  	padding:  4px;
  }
  .centraloffice {
    max-width: 333px;
    font-family: 'Open Sans', sans;
  	color: #fcfcfc;
  	font-size: 91%;
  	padding:  4px;
}

  .btn-custom { 
    text-decoration: none;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#114756', endColorstr = '#114577');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#114756', endColorstr = '#114577')";
    background-image: -moz-linear-gradient(top, #114756, #114577);
    background-image: -ms-linear-gradient(top, #114756, #114577);
    background-image: -o-linear-gradient(top, #114756, #114577);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#114756), to(#114577));
    background-image: -webkit-linear-gradient(top, #114756, #114577);
    background-image: linear-gradient(top, #114756, #114577);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    opacity: 0.94;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 94);
    filter: alpha(opacity = 94);
  }
}