#responsive-shorts { 
  width: auto;
  margin-left: 1px;
  margin-right: 1px;
  word-wrap: wrap;
  line-wrap: wrap;
  font-size: 93%;
    a:link {  
    color: #e1a51f;
    padding: 3px;
    margin: 3px;
    line-height: 1.33em;
    }
    a:active {
    color: #e1a51f;
    text-shadow: 1px 2px 2px #857f75;
    }
    a:hover {
    color: #e1a51f;
    text-shadow: 0px 1px 1px #fcfcfc;
    }
    a:visited {
    color: #e1a51f;
    }
    .navbar-day {
        padding-left: 5px;
        font-size: 93%;
        margin-top: -3px;
        margin-bottom: -3px;
      }
    .navbar-city {
        padding-left: 5px;
        font-size: 91%;
        margin-top: -3px;
        margin-bottom: -3px;
     }
    .navbar-codes {
      font-size: 91%;
      padding-left: 5px;
      margin-top: -3px;
      text-transform: lowercase;
    }
    .nav-pills {
      a { 
      border: none;
      color: #C97026;
      padding: 2px;
      a:hover {
      color: #F5C83B;
      background-color: #d8a54c;
      -webkit-transition: all 0.7s ease; 
      -moz-transition: all 0.7s ease; 
      -o-transition: all 0.7s ease; 
      } 
    }
  }



hr { border: 0; height: 1px; background: #444354; background-image: -webkit-linear-gradient(left, #ccc, #444354, #ccc); background-image: -moz-linear-gradient(left, #ccc, #444354, #ccc); background-image: -ms-linear-gradient(left, #ccc, #444354, #ccc); background-image: -o-linear-gradient(left, #ccc, #444354, #ccc); }
  }
