#responsive-shorts { 
  font-family: 'Open Sans', 'Source Sans Pro', 'Lucida Grande', sans, sans-serif;
  width: auto;
  margin-left: 1px;
  margin-right: 1px;
  word-wrap: wrap;
  line-wrap: wrap;
  font-size: 0.93em;
    a:link {  
    color: #C48923;
    padding-top: 1px;
    margin: 3px;
    }
    a:active {
    color: #C48923;
    text-shadow: 1px 2px 2px #857f75;
    }
    a:hover {
    color: #C48923;
    text-shadow: 0px 1px 1px #fcfcfc;
    }
    a:visited {
    color: #C48923;
    }
    .navbar-day {
        padding-left: 5px;
        font-size: 91%;
        margin-top: -3px;
        margin-bottom: -3px;
         li {
        padding-left: 5px;
        padding-right: 5px;
        }     
      }
    .navbar-city {
        padding-left: 5px;
        font-size: 91%;
        margin-top: -3px;
        margin-bottom: -3px;
         li {
        padding-left: 5px;
        padding-right: 5px;
        }     
     }
    .navbar-codes {
      font-size: 91%;
      padding-left: 5px;
      margin-top: -3px;
      text-transform: lowercase;
       li {
        padding-left: 5px;
        padding-right: 5px;
        }     
    }
    .nav-pills {
      a { 
      border: none;
      color: #C97026;
      padding: 2px;
      a:hover {
      color: #F5C83B;
      background-color: #d8a54c;
      -webkit-transition: all 0.7s ease; 
      -moz-transition: all 0.7s ease; 
      -o-transition: all 0.7s ease; 
      } 
    }

     /* search-friendly */

.search-instructions {
  font-size: 0.95em;
  ul {
  padding: 2px;
  li {
  padding-top: 2px;
  btn-mini { size: 75%; }
  }
  }
}

.searchbox {
  align: left;
  span: span5;
  justify: left;
  margin-top: -23px;
  margin-bottom: -7px;
  margin-left: -7px;
}

.search-options {
  margin-left: 2%;
  margin-top: -4px;
  }

}





hr { border: 0; height: 1px; background: #444354; background-image: -webkit-linear-gradient(left, #ccc, #444354, #ccc); background-image: -moz-linear-gradient(left, #ccc, #444354, #ccc); background-image: -ms-linear-gradient(left, #ccc, #444354, #ccc); background-image: -o-linear-gradient(left, #ccc, #444354, #ccc); }
  }
